In [1]:
import pandas as pd
import numpy as np

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, explode, udf, lit

spark = SparkSession.builder.appName('read csv files').getOrCreate()

In [7]:
csv_df=spark.read.csv("AprTopics.csv",header='true')

In [8]:
apr_topics=csv_df.toPandas()

In [9]:
apr_topics.head()

,created_date,dominant_topic,dominant_topic_keywords,count
0,2021-04-16,topic1,"sun, view, collection, food, sat, women, full,...",62
1,2021-04-15,topic2,"edwardbarber, like, love, edward, barber, day,...",612
2,2021-04-26,topic2,"edwardbarber, like, love, edward, barber, day,...",491
3,2021-04-01,topic0,"whatshappeninginmyanmar, aprcoup, posted, phot...",367
4,2021-04-29,topic5,"free, zerowaste, part, different, cool, future...",45

In [10]:
apr_topics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   created_date             180 non-null    object
 1   dominant_topic           180 non-null    object
 2   dominant_topic_keywords  180 non-null    object
 3   count                    180 non-null    object
dtypes: object(4)
memory usage: 5.8+ KB

In [11]:
apr_topics['created_date']=pd.to_datetime(apr_topics['created_date'])
#apr_topics['topic']=pd.to_datetime(apr_topics['topic'])
apr_topics['count']=pd.to_numeric(apr_topics['count'])

Transform the Data

In [12]:
df = apr_topics.pivot_table(values = 'count', index = ['created_date'], columns = 'dominant_topic_keywords')
df.head()

dominant_topic_keywords,"btc, cute, chef, crypto, pretty, greed, april, silver, bistro, good","edwardbarber, like, love, edward, barber, day, good, get, happy, life","free, zerowaste, part, different, cool, future, nftcollectors, nftcommunity, city, miss","like, people, amp, see, need, please, get, know, help, really","sun, view, collection, food, sat, women, full, field, available, interpol","whatshappeninginmyanmar, aprcoup, posted, photo, military, terrorists, junta, abducted, myanmar, amp"
created_date,,,,,,
2021-04-01,80,568,89,399,59,367
2021-04-02,83,649,123,327,63,401
2021-04-03,79,732,137,359,49,426
2021-04-04,85,784,111,351,65,405
2021-04-05,91,555,88,361,48,256

Replace NaN Values

In [13]:
df.fillna(0, inplace=True)
df.sort_values(list(df.columns),inplace=True)
df = df.sort_index()

In [14]:
df.head()

dominant_topic_keywords,"btc, cute, chef, crypto, pretty, greed, april, silver, bistro, good","edwardbarber, like, love, edward, barber, day, good, get, happy, life","free, zerowaste, part, different, cool, future, nftcollectors, nftcommunity, city, miss","like, people, amp, see, need, please, get, know, help, really","sun, view, collection, food, sat, women, full, field, available, interpol","whatshappeninginmyanmar, aprcoup, posted, photo, military, terrorists, junta, abducted, myanmar, amp"
created_date,,,,,,
2021-04-01,80,568,89,399,59,367
2021-04-02,83,649,123,327,63,401
2021-04-03,79,732,137,359,49,426
2021-04-04,85,784,111,351,65,405
2021-04-05,91,555,88,361,48,256

Aggregate and clean data

In [15]:
df.iloc[:, 0:] = df.iloc[:, 0:].cumsum()
df.head()

dominant_topic_keywords,"btc, cute, chef, crypto, pretty, greed, april, silver, bistro, good","edwardbarber, like, love, edward, barber, day, good, get, happy, life","free, zerowaste, part, different, cool, future, nftcollectors, nftcommunity, city, miss","like, people, amp, see, need, please, get, know, help, really","sun, view, collection, food, sat, women, full, field, available, interpol","whatshappeninginmyanmar, aprcoup, posted, photo, military, terrorists, junta, abducted, myanmar, amp"
created_date,,,,,,
2021-04-01,80,568,89,399,59,367
2021-04-02,163,1217,212,726,122,768
2021-04-03,242,1949,349,1085,171,1194
2021-04-04,327,2733,460,1436,236,1599
2021-04-05,418,3288,548,1797,284,1855

In [16]:
!pip install bar_chart_race

Requirement already satisfied: bar_chart_race in /home/cloudera/anaconda3/lib/python3.7/site-packages (0.1.0)
Requirement already satisfied: matplotlib>=3.1 in /home/cloudera/anaconda3/lib/python3.7/site-packages (from bar_chart_race) (3.2.1)
Requirement already satisfied: pandas>=0.24 in /home/cloudera/anaconda3/lib/python3.7/site-packages (from bar_chart_race) (1.2.4)
Requirement already satisfied: numpy>=1.11 in /home/cloudera/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1->bar_chart_race) (1.19.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/cloudera/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1->bar_chart_race) (1.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /home/cloudera/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1->bar_chart_race) (2.7.3)
Requirement already satisfied: cycler>=0.10 in /home/cloudera/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1->bar_chart_race) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/cloudera/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.1->bar_chart_race) (2.2.0)
Requirement already satisfied: pytz>=2017.3 in /home/cloudera/anaconda3/lib/python3.7/site-packages (from pandas>=0.24->bar_chart_race) (2018.5)
Requirement already satisfied: setuptools in /home/cloudera/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=3.1->bar_chart_race) (40.2.0)
Requirement already satisfied: six>=1.5 in /home/cloudera/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.1->matplotlib>=3.1->bar_chart_race) (1.11.0)
twisted 18.7.0 requires PyHamcrest>=1.9.0, which is not installed.
qdarkstyle 2.8.1 requires helpdev>=0.6.10, which is not installed.
conda 4.10.1 requires ruamel_yaml_conda>=0.11.14, which is not installed.
qdarkstyle 2.8.1 has requirement qtpy>=1.9, but you'll have qtpy 1.5.0 which is incompatible.
python-language-server 0.26.1 has requirement jedi>=0.13.2, but you'll have jedi 0.12.1 which is incompatible.
hypothesis 4.39.0 has requirement attrs>=19.2.0, but you'll have attrs 18.2.0 which is incompatible.
cryptography 3.3.2 has requirement cffi>=1.12, but you'll have cffi 1.11.5 which is incompatible.
autopep8 1.5 has requirement pycodestyle>=2.5.0, but you'll have pycodestyle 2.4.0 which is incompatible.
You are using pip version 10.0.1, however version 21.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [17]:
import bar_chart_race as bcr
bcr.__version__

In /home/cloudera/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The text.latex.unicode rcparam was deprecated in Matplotlib 3.0 and will be removed in 3.2.
In /home/cloudera/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The savefig.frameon rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
In /home/cloudera/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The pgf.debug rcparam was deprecated in Matplotlib 3.0 and will be removed in 3.2.
In /home/cloudera/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The verbose.level rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
In /home/cloudera/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The verbose.fileo rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.

'0.1.0'

In [18]:
bcr.bar_chart_race(df = df, 
                   n_bars = 6, 
                   sort='desc',
                   title='tweets number under each topic in Apr',
                  filename='Apr_tweet.mp4')